# Mac
.DS_Store

# Cordova
platforms/
plugins/
node_modules/
www/

# Vue.js
vue/node_modules/
vue/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vue/test/unit/coverage/
vue/test/e2e/reports/
selenium-debug.log

# Vue.js local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
